NATIVE_RPC=http://localhost:26657
NATIVE_GRPC=127.0.0.1:9090
LOG_FILE_PATH="" # If empty, logs to STDOUT
LOG_LEVEL="debug"
IKA_RPC=http://127.0.0.1:9000
IKA_SIGNER_MNEMONIC=""
GAS_ADDRESS=""
IKA_NATIVE_LC_PACKAGE=""
IKA_NATIVE_LC_MODULE=""
IKA_NATIVE_LC_FUNCTION=""
GAS_BUDGET=""